<div *ngIf="isEditServiceVisible" class="container mt-4 bg-gray pb-4 pt-4 rounded">
  <h2>Thêm Mới Tour</h2>
  <form (ngSubmit)="onSubmit()">
    <!-- Sử dụng d-flex để kích hoạt Flexbox -->
    <div class="row d-flex flex-wrap">
      <div *ngFor="let field of formFields; let i = index" class="col-md-4 mb-3"> <!-- Chia thành 3 cột -->
        <div class="form-group">
          <label class="font-weight-600" [for]="field.name">{{ field.label }} :</label>


          <input
          *ngIf="field.type === 'file'"
          [id]="field.name"
          class="form-control"
          type="file"
          (change)="onFileChange($event)"
          [accept]="field.accepted"
          [required]="field.required"
        />

          <select *ngIf="field.type === 'select'"
          [id]="field.name"
          class="form-control"
          [(ngModel)]="newTour[field.name]"
          [name]="field.name"
          [required]="field.required">
          <option value="">Chọn {{ field.label }}</option>
          <option *ngFor="let option of field.options ?? []" [value]="option.value">
          {{ option.label }}
          </option>
          </select>

            <textarea *ngIf="field.type === 'textarea'" [id]="field.name" class="form-control"
            [(ngModel)]="newTour[field.name]"
            [name]="field.name"
            [required]="field.required"
            rows="4"
            [placeholder]="'Nhập ' + field.label.toLowerCase() + '...'">
          </textarea>

          <!-- Nếu không phải select và không phải textarea thì tạo thẻ input -->
          <input *ngIf="field.type !== 'select' && field.type !== 'textarea' && field.type !== 'file'" [id]="field.name" class="form-control"
            [type]="field.type"
            [(ngModel)]="newTour[field.name]"
            [name]="field.name"
            [required]="field.required"
            [readonly]="field.name === 'idtour'"
            [ngClass]="{'bg-gray': field.name === 'idtour'}">

        </div>
      </div>


    </div>

    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
      <ul>
        <li *ngFor="let error of errorMessages">{{ error }}</li>
      </ul>
    </div>

    <button type="submit" class="btn btn-primary">Thêm Tour</button>
  </form>
</div>
