<div *ngIf="isEditAccountVisible" class="container mt-4 bg-gray pb-4 pt-4 rounded">
  <h2>Thêm Mới Tài khoản mới</h2>
  <form (ngSubmit)="onSubmit()">
    <!-- Sử dụng d-flex để kích hoạt Flexbox -->
    <div class="row d-flex flex-wrap">
      <div *ngFor="let field of formFields; let i = index" class="col-md-4 mb-3"> <!-- Chia thành 3 cột -->
        <div class="form-group">
          <label class="font-weight-600" [for]="field.name">{{ field.label }} :</label>

          <!-- Trường select cho loại người dùng và người dùng -->
          <select *ngIf="field.type === 'select'"
                  [id]="field.name"
                  class="form-control"
                  [(ngModel)]="newAccount[field.name]"
                  [name]="field.name"
                  [required]="field.required"
                  (ngModelChange)="onSelectChange(newAccount[field.name])">
                  >

            <option value="">Chọn {{ field.label }}</option>
            <option *ngFor="let option of field.options" [value]="option.value">
              {{ option.label }}
            </option>
          </select>

          <!-- Trường input cho các loại trường còn lại -->
          <input *ngIf="field.type !== 'select'" [id]="field.name" class="form-control"
                 [type]="field.type"
                 [(ngModel)]="newAccount[field.name]"
                 [name]="field.name"
                 [required]="field.required"
                 [readonly]="field.name === 'idaccount'"
                 [ngClass]="{'bg-gray': field.name === 'idaccount'}">
        </div>
      </div>
    </div>

    <!-- Hiển thị thông báo lỗi nếu có -->
    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
      <ul>
        <li *ngFor="let error of errorMessages">{{ error }}</li>
      </ul>
    </div>

    <button type="submit" class="btn btn-primary">Thêm tài khoản</button>
  </form>
</div>
