
<body>
    <section>
        <div class="leaves">
            <div class="set">
                <div><img [src]="imagePath01" alt="Leaf Image"></div>
                <div><img src="../../assets/images/leaf_02.png" alt="leaf"></div>
                <div><img src="../../assets/images/leaf_03.png" alt="leaf"></div>
                <div><img src="../../assets/images/leaf_04.png" alt="leaf"></div>
                <div><img src="../../assets/images/leaf_01.png" alt="leaf"></div>
                <div><img src="../../assets/images/leaf_02.png" alt="leaf"></div>
                <div><img src="../../assets/images/leaf_03.png" alt="leaf"></div>
                <div><img src="../../assets/images/leaf_04.png" alt="leaf"></div>
            </div>
        </div>
        <img src="../../assets/images/bg.jpg" class="bg" alt="background">
        <img src="../../assets/images/girl.png" class="girl" alt="girl">
        <img src="../../assets/images/trees.png" class="trees" alt="trees">
        <div class="login-container">
            <h2>Đăng Nhập</h2>
            <form (ngSubmit)="login()">
                <div class="form-group">
                    <!--<label for="username">Tên đăng nhập:</label>-->
                    <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" placeholder="Username" required />
                </div>
                <div class="form-group">
                    <!--<label for="password">Mật khẩu:</label>-->
                    <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required />
                </div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                <div class="inputBox">
                    <button type="submit" id="btn">Đăng Nhập</button>
                </div>
                <div class="register-link">
                    <p>Bạn chưa có tài khoản? <a routerLink="/register">Đăng Ký</a></p>
                </div>
            </form>
            Hoặc bạn có muốn đăng nhập với
            <div class="col d-flex justify-content-end">
              <div class="social-media">
                <p class="mb-0 d-flex">
                  <a href="#" class="d-flex align-items-center justify-content-center"><span><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</span></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-envelope-o" aria-hidden="true">Gmail</i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-github" aria-hidden="true">Github</i></a>
                </p>
              </div>
            </div>

        </div>

    </section>



</body>

