<section class="ftco-section">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Tour du lịch</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="customer">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us">Giới thiệu</a></li>
                    <li class="nav-item"><a class="nav-link" href="customer">Tours</a></li>
                    <li class="nav-item"><a class="nav-link" href="customer/hotel">Khách sạn</a></li>
                    <li class="nav-item"><a class="nav-link" href="news">Tin tức</a></li>
                    <li class="nav-item"><a class="nav-link" href="customer/lienhe">Liên hệ</a></li>
                    <li class="nav-item" *ngIf="!username"><a class="nav-link" href="login">Đăng nhập</a></li>
                    <li class="nav-item" *ngIf="username">
                        <span class="nav-link">Xin chào: {{ username }}</span>
                    </li>
                    <li class="nav-item" *ngIf="username"><a class="nav-link" href="#" (click)="logout()">Đăng xuất</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero-section">
        <div class="hero-content">
            <h6>Trang chủ > <br><h1>Tours</h1></h6>
        </div>
    </div>
    <!-- Section chi tiết tour -->
    <div *ngIf="tourDetails.length > 0">
      <h1 class="TieudeTour" style="margin-left: 5px;">{{ tourDetails[0].tour.tourname }}</h1>
      <div class="tour-details-container">
          <img [src]="getImageTourUrl(tourDetails[0].tour.image)" alt="{{ tourDetails[0].tour.tourname }}">
          <div class="info-container">
              <p class="GiaGoc">
                  <strong>Giá gốc:</strong> {{ tourDetails[0].total_price | currency:'VND' }}
              </p>
              <p class="GiaTong">
                <strong>Giá tổng:</strong>
                <span *ngIf="totalPrice === 0; else calculatedPrice">
                  {{ calculateTotalPrice(quantity, tourDetails[0].total_price, totalPrice, discount) | currency:'VND' }}
                </span>
                <ng-template #calculatedPrice>
                  <!-- Tính giá tổng dựa trên công thức -->
                  <span *ngIf="isPriceReduced" class="price-reduced-label">(Giá đã giảm)</span>
                  {{ totalPrice | currency:'VND' }}
                </ng-template>
              </p>

              <div class="quantity-selector">
                  <div class="quantity-item">
                      <label for="adults">Số lượng</label>
                      <div class="quantity-control">
                          <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
                          <input type="number" id="adults" value="1" min="1" max="10" [(ngModel)]="quantity" name="quantity" readonly />
                          <button class="quantity-btn" (click)="increaseQuantity()">+</button>
                      </div>
                      <p class="min-quantity">Mua ít nhất ( giá gốc đã được tính cho 1 người )</p>
                  </div>
                  <div class="promotions">
                      <form class="selectPromotions">
                          <h3>Ưu đãi:</h3>
                          <input type="text"
                          id="promo"
                          [(ngModel)]="code"
                          name="promotionCode"
                          placeholder="Nhập mã ưu đãi" />

                          <button class="promo-btn" type="button" (click)="applyPromotion()">Áp dụng</button>
                      </form>
                  </div>
              </div>
              <button class="BookBtn" (click)="bookTour()" [disabled]="!isAvailable" >Đặt ngay</button>
              <div *ngIf="!isAvailable" class="alert alert-danger mt-2">
                Tour này đã hết chỗ!
              </div>
          </div>
      </div>
      <p style="margin-left: 10px; font-size:larger;"><b>Gói của tour bao gồm:</b></p>
      <table style="margin-left: 10px;">
          <tr>
              <th>Hành trình</th>
              <td>{{ tourDetails[0].tour.tourname }}</td>
          </tr>
          <tr>
              <th>Xuất phát</th>
              <td>{{tourDetails[0].tour.location}}</td>
          </tr>
          <tr>
              <th>Khởi hành</th>
              <td>{{tourDetails[0].depart | date:'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
              <th>Phương tiện</th>
              <td>{{tourDetails[0].vehicles.name_vehicles}}</td>
          </tr>
          <tr>
              <th>Khách sạn</th>
              <td>{{tourDetails[0].hotel.name_hotel}}</td>
          </tr>
          <tr>
              <th>Dịch vụ</th>
              <td>{{tourDetails[0].service.name_service}}</td>
          </tr>
      </table>
      <p class="description" style="margin-left: 10px;">
          <b style="margin-bottom:10px; font-size:larger;">Giới thiệu tour: </b><br>
          <span [innerHTML]="sanitizeDescription(tourDetails[0].tour.description)"></span>
      </p>
      <!-- Hiển thị tất cả ảnh của vehicles -->
      <div class="dv-images">
          <p style="margin-left: 10px;font-size:larger;"><b>Phương tiện di chuyển:</b></p>
          <div *ngFor="let image of vehicleImages">
              <img [src]="getImageUrl(tourDetails[0].vehicles.image)" [alt]="'Ảnh phương tiện: ' + image">
          </div>
      </div>
      <!-- Hiển thị tất cả ảnh của hotel -->
      <div class="dv-images">
          <p style="margin-left: 10px;font-size:larger;"><b>Khách sạn lưu trú:</b></p>
          <div *ngFor="let image of hotelImages">
              <img [src]="getImageHotelUrl(tourDetails[0].hotel.image)" [alt]="'Ảnh khách sạn: ' + image">
          </div>
      </div>
  </div>


    <hr  style="margin-left: 400px;width: 50%;"    />
<!--Phần bình luận-->
<div class="comment-section">
    <h3>Bình luận về tour du lịch</h3>
    <div class="comment-list">
        <div *ngFor="let comment of comments">
        <p> <span>
                <img [src]="'../../assets/images/user.png'">
                <strong>{{ comment.account?.username || 'Người dùng ẩn danh' }}:</strong>
                {{ comment.content }}
            </span>
        </p>
        <p><em>{{ comment.created_at | date:'dd/MM/yyyy' }}</em></p>
    </div>
    </div>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit($event)">
        <div>
            <textarea
                formControlName="content"
                placeholder="Nhập nội dung bình luận"
                rows="5"
            ></textarea>
        </div>
        <button type="submit" [disabled]="commentForm.invalid">Gửi bình luận</button>
    </form>
</div>


    <!-- END nav -->
    <div class="slider">
    <div class="slides">
        <div class="slide slide1"></div>
        <div class="slide slide2"></div>
        <div class="slide slide3"></div>
        <div class="slide slide4"></div>
        <div class="slide slide5"></div>
            <!-- Thêm các slide khác nếu cần -->
    </div>
    <div class="overlay">
        <h2>CHÚNG TÔI LÀ CÔNG TY DU LỊCH VIETNAMTOUR</h2>
        <p>Chúng tôi sẽ mang đến cho quý khách những trải nghiệm tuyệt vời nhất</p>
        <button (click)="navigateToMessenger()">Liên hệ qua Messenger của chúng tôi</button>
    </div>
    </div>

    <footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
        <h3>Giới thiệu</h3>
        <p>Website VietNamTour cho phép đặt các tour du lịch khắp mọi nơi trong nước.</p>
        </div>
        <div class="footer-section">
        <h4>Thông tin</h4>
        <ul>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Chính sách và quyền riêng tư</a></li>
            <li><a href="#">Liên hệ với chúng tôi</a></li>
        </ul>
        </div>
        <div class="footer-section">
        <h4>Liên hệ</h4>
        <ul>
            <li>Địa chỉ: 273 An Dương Vương, Tp.HCM</li>
            <li>Số điện thoại: (+84) 123-456-789</li>
            <li>Email: admin&#64;gmail.com</li>
        </ul>
        </div>
        <div class="footer-section">
        <h4>Theo dõi chúng tôi</h4>
        <div class="social-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        </div>
    </div>
    <div class="footer-bottom">
        Copyright &copy;2024
    </div>
    </footer>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    </section>






