.font-size-15px {
  font-size: 15px;
}

.font-weight-bold{
  font-weight: bold;
}

.badge-success {
  background-color: #28a745; /* Màu xanh lá */
  color: white;
}

.badge-danger {
  background-color: #dc3545; /* Màu đỏ */
  color: white;
}
.button-spacing {
  margin-right: 30px; // Hoặc giá trị bạn mong muốn
}

