.invoice-container {
    max-width: 600px;
    margin-top: 50px;
    height: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    h1 {
      text-align: center;
      color: #dc2525;
    }
  
    p {
      margin: 10px 0;
      font-size: 16px;
    }
  
    strong {
      color: #555;
    }
    button {
        margin-top: 20px;
        margin-left: 235px;
    }
  }
  

  //
  body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero-section {
    background-image: url('https://cdn.pixabay.com/photo/2019/11/23/09/30/halong-bay-4646613_1280.jpghttps://cdn.pixabay.com/photo/2019/11/23/09/30/halong-bay-4646614_1280.jpg'); /* Đặt URL ảnh nền ở đây */
    position: relative;
    background-size: cover;         /* Làm cho ảnh nền phủ kín khu vực */
    background-position: center;    /* Căn giữa ảnh nền */
    background-attachment: fixed;   /* Giữ ảnh nền cố định khi cuộn */
    height: 400px;                  /* Chiều cao của header */
    color: white;
    width: 100%;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);

}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: orangered;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

//hiệu ứng slider
.slider {
    position: relative;
    width: 80%; /* Hoặc đặt chiều rộng cụ thể, ví dụ: 800px */
    max-width: 1200px; /* Giới hạn chiều rộng tối đa */
    height: 400px;
    margin: 0 auto; /* Căn giữa phần tử */
    overflow: hidden;
    
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slideAnimation 12s infinite;
}

.slide {
    min-width: 100%;
    height: 100%;
    background-size: cover; /* Đảm bảo toàn bộ ảnh nằm trong khung */
    background-position: center;
    background-repeat: no-repeat; /* Tránh việc ảnh bị lặp */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.4); /* Nền mờ */
    text-align: center;
  }
  
  .overlay h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .overlay p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .overlay button {
    padding: 10px 20px;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1em;
  }
  
  .overlay button:hover {
    background-color: #e64a19;
  }
.slide1 {
    background-image: url('../../assets/images/image_da_lat.jpg');
    animation-delay: 0s;
}

.slide2 {
    background-image: url('../../assets/images/image_da_nang.jpg');
    animation-delay: 3s;
}
.slide3 {
    background-image: url('../../assets/images/image_sapa.jpg');
    animation-delay: 3s;
}
.slide4 {
    background-image: url('../../assets/images/image_vungtau.jpg');
    animation-delay: 3s;
}
.slide5 {
    background-image: url('../../assets/images/image_hue.jpg');
    animation-delay: 3s;
}
/* Animation cho các slide */
@keyframes slideAnimation {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    40% { transform: translateX(-100%); }
    45% { transform: translateX(-200%); }
    60% { transform: translateX(-200%); }
    65% { transform: translateX(-300%); }
    80% { transform: translateX(-300%); }
    85% { transform: translateX(-400%); }
    100% { transform: translateX(0%); }
  }

.footer {
padding: 20px 0;
margin-top: 50px;
text-align: left;
background-image: url('https://img.freepik.com/free-psd/gradient-wavy-border-design_23-2151320985.jpg?t=st=1731694010~exp=1731697610~hmac=70acd2a8a3271d42acd45258328d781ec8750e8de80b90a173e0ccaa56f2dbed&w=996'); /* Đặt URL ảnh nền ở đây */
position: relative;
background-size: cover;         /* Làm cho ảnh nền phủ kín khu vực */
background-position: center;    /* Căn giữa ảnh nền */
background-attachment: fixed;   /* Giữ ảnh nền cố định khi cuộn */
height: 350px;                  /* Chiều cao của header */
color: black;
width: 100%;

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-left: 100px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;

    h3, h4 {
    margin-bottom: 10px;
    }

    ul {
    list-style: none;
    padding: 0;
    li {
        margin: 8px 0;
    }

    a {
        color: black;
        text-decoration: none;
        
        &:hover {
        text-decoration: underline;
        }
    }
    }

    .social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    
    a {
        color: #db4913;
        font-size: 1.5em;
        
        &:hover {
        color: #4caf50; // màu thay đổi khi hover
        }
    }
    }
    // Thêm đường phân cách giữa các footer section
    &:not(:last-child) {
        border-right: 1px solid #cacaca; // Đường thẳng phân cách
        padding-right: 20px; // Giãn cách để đường thẳng không quá gần nội dung
        }
}

    
.footer-bottom {
    text-align: center;
    color: grey;
    padding: 10px 0;
    font-size: 0.9em;
    margin-top: 50px;
}
}
