<div *ngIf="selectedUser" class="container mt-4 bg-gray pb-4 pt-4 rounded">
  <h2>Chỉnh Sửa Người Dùng</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="row d-flex flex-wrap">
      <div *ngFor="let field of formFields" class="col-md-4 mb-3">
        <div class="form-group">
          <label class="font-weight-600" [for]="field.name">{{ field.label }}:</label>

          <select *ngIf="field.type === 'select'"
            [id]="field.name"
            class="form-control"
            [(ngModel)]="selectedUser[field.name]"
            (ngModelChange)="field.name === 'typeUser' ? onTypeUserChange(selectedUser[field.name]) : null"
            [name]="field.name"
            [required]="field.required">
              <option value="">Chọn loại người dùng</option>
              <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
          </select>

          <input *ngIf="field.type !== 'select'"
                 [id]="field.name"
                 class="form-control"
                 [type]="field.type"
                 [(ngModel)]="selectedUser[field.name]"
                 [name]="field.name"
                 [readonly]="field.name === 'iduser' || field.name === 'salary'"
                 [required]="field.required"
                 [ngClass]="{'bg-gray': field.name === 'iduser'}" />
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Lưu Thay Đổi</button>
  </form>
</div>
